  .filled-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    height: 50px;
    padding: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--primary-green-100);
    -webkit-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    /*font-family: Biennale, sans-serif;*/
    color: var(--background-blueblack);
    font-size: 17px;
    line-height: 1;
    font-weight: 500;
  }

  .filled-button:hover {
    box-shadow: 0 15px 56px 0 var(--primary-green-40);
  }

  .filled-button.is-filled-hero-button {
    margin-right: 22px;
  }

  .s1 {
    position: relative;
    z-index: 900;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s1-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -16px;
    margin-left: -16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .s1-block-container {
    width: 33.333333333333336%;
    padding: 16px;
  }

  .s1-gradient-outline {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 910;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 0 0 2px var(--neutral-grey5-100);
  }

  .s1-block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s1-gradient-mask {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 920;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-blueblack) 0%), to(var(--background-blueblack)));
    background-image: linear-gradient(180deg, var(--background-blueblack) 0%, var(--background-blueblack));
  }

  .s1-gradient-glow {
    position: absolute;
    z-index: 930;
    width: 90%;
    height: 2px;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-purple-color1) 0%), color-stop(35%, var(--gradient-purple-color1)), color-stop(65%, var(--gradient-brand-color2)), to(var(--gradient-brand-color2) 0%));
    background-image: linear-gradient(90deg, var(--gradient-purple-color1) 0%, var(--gradient-purple-color1) 35%, var(--gradient-brand-color2) 65%, var(--gradient-brand-color2) 0%);
    opacity: 0.95;
  }

  .s1-gradient-glow.is-green-gradient-glow {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--primary-green-100) 0%), color-stop(50%, var(--primary-green-100)), to(var(--primary-green-100) 0%));
    background-image: linear-gradient(90deg, var(--primary-green-100) 0%, var(--primary-green-100) 50%, var(--primary-green-100) 0%);
  }

  .s1-gradient-glow.is-blue-gradient-glow {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-brand-color2)), color-stop(50%, var(--gradient-brand-color2)), to(var(--gradient-brand-color2) 0%));
    background-image: linear-gradient(90deg, var(--gradient-brand-color2) 0%, var(--gradient-brand-color2) 50%, var(--gradient-brand-color2) 0%);
  }

  .s1-content-container {
    position: relative;
    z-index: 940;
    width: 100%;
    padding: 30px 30px 40px;
    text-align: center;
  }

  .s1-numbers {
    /*font-family: Biennale, sans-serif;*/
    font-size: 40px;
    line-height: 1;
    font-weight: 300;
  }

  .s1-wrapper {
    width: 90%;
  }

  .s2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s2-info-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    /*font-family: Biennale, sans-serif;*/
    color: var(--neutral-white-100);
    font-size: 60px;
    line-height: 1.1;
    font-weight: 500;
  }

  .h2.is-small-h2 {
    font-size: 52px;
    color: #fff;
  }

  .h2.is-small-h2-1 {
    font-size: 36px;
    color: #fff;
  }

  @media screen and (max-width: 600px){
    .h2.is-small-h2-1 {
      font-size: 30px;
  }
}

  .h2.is-small-h2.is-s4-h2 {
    width: 80%;
  }

  .h2.is-vc-h2 {
    margin-bottom: 100px;
    font-size: 32px;
  }

  .s2-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s2-blocks-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -16px;
    margin-left: -16px;
    padding-top: 100px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .s2-block {
    width: 33.333333333333336%;
    padding: 0px 16px 80px;
  }

  .s2-content-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(background-blueblack);
  }

  .s2-icon-container {
    position: relative;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s2-h3 {
    position: relative;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 210px;
    height: 110px;
    max-width: 85%;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*font-family: Biennale, sans-serif;*/
    color: var(--neutral-white-100);
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
  }

  .s2-blur-container {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 900;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
  }

  .s2-blur {
    width: 120px;
    height: 100px;
    margin-top: -20px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, var(--gradient-red-color2), var(--gradient-red-color1));
    -webkit-filter: blur(50px);
    filter: blur(50px);
  }

  .s2-blur.is-blur-2 {
    background-image: linear-gradient(45deg, var(--gradient-purple-color1), var(--gradient-purple-color2));
  }

  .s2-blur.is-blur-3 {
    background-image: linear-gradient(45deg, var(--gradient-purple-color1), var(--primary-green-100));
  }

  .s2-blur.is-blur-4 {
    background-image: linear-gradient(45deg, var(--gradient-brand-color2), var(--gradient-purple-color2));
  }

  .s2-blur.is-blur-5 {
    background-image: linear-gradient(45deg, var(--gradient-red-color1), var(--gradient-red-color2));
  }

  .s2-blur.is-blur-6 {
    background-image: linear-gradient(45deg, var(--gradient-purple-color1), var(--gradient-purple-color2));
  }

  .s2-icon {
    width: 100px;
  }

  .s2-icon.is-icon-3 {
    width: 160px;
  }

  .s2-icon.is-icon-2 {
    width: 105px;

  }

  .s2-icon.is-icon-5 {
    width: 105px;
  }

  .s2-icon.is-icon-6 {
    width: 110px;
  }

  .s2-icon.is-icon-4 {
    width: 120px;
  }

  .s2-blocks-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s6-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .s6-info-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding-right: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
  }

  .s3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s3-image-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .s3-info-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
  }

  .s3-list-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -12px;
    margin-left: -12px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .s3-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding: 12px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .s3-icon {
    height: 48px;
    margin-right: 12px;
  }

  .s3-item-description {
    font-size: 16px;
    line-height: 1.4;
  }

  .div-block-21-copy-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .s5-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .s5-list-icon {
    width: 32px;
    margin-right: 20px;
    padding: 8px;
  }

  .s5-list-icon1 {
    width: 32px;
    padding: 8px;
  }

  .s5-item-description {
    margin-top: 6px;
    font-size: 16px;
    line-height: 1.4;
    color:#fff;
  }

  .s5-item-description-1 {
    margin-top: 6px;
    font-size: 16px;
    line-height: 2.1;
    color:#fff;
    font-weight: 100;
    text-align: justify;
  }

  .s7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s7-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

 

  .s3-image-container {
    position: relative;
  }

  .s3-base-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 100;
  }

  .s3-orbitals-image {
    position: relative;
    z-index: 1;
  }

  .s3-box-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 200;
  }

  
  .s3-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }

 

  .s4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s4-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }

  .s4-info-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding-right: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color:#fff;
  }

  .s4-image-container {
    position: relative;
  }

  .s6-cat-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 200;
  }

  .s4-base-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 100;
  }

  .s4-planets-image {
    position: relative;
    z-index: 1;
  }

  .s4-image-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .s5-image-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .s5-image-container {
    position: relative;
  }

  .s5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .s5-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }

  .s5-info-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
  }

  .s5-top-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 200;
  }

  .s5-coins-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 100;
  }

  .s5-bottom-image {
    position: relative;
    z-index: 1;
  }

  .s6-image-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .s6-image-container {
    position: relative;
  }

  .s6-message-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 200;
  }

  .s6-card-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 100;
  }

  .s6-rocket-image {
    position: relative;
    z-index: 1;
  }






  @media screen and (min-width: 1440px) {
    
    .s1-wrapper {
      max-width: 1296px;
    }

    .s2-wrapper {
      max-width: 1296px;
    }

    .s6-container {
      max-width: 1296px;
    }

    .s7-container {
      max-width: 1296px;
    }

    .s3-container {
      max-width: 1296px;
    }


    .s4-container {
      max-width: 1296px;
    }

    .s5-container {
      max-width: 1296px;
    }

  }



  @media screen and (max-width: 991px) {
 
    .p.is-s4-p {
      width: auto;
    }

    .p.is-s3-p {
      width: auto;
      margin-bottom: 15px;
    }

    .filled-button {
      -webkit-transition-property: none;
      transition-property: none;
    }

    .filled-button:hover {
      box-shadow: none;
    }

    .outlined-button {
      -webkit-transition-property: none;
      transition-property: none;
    }

    .outlined-button:hover {
      box-shadow: 0 0 0 1px var(--primary-green-100);
    }

    .s1 {
      padding-bottom: 75px;
    }

    .s1-container {
      margin-right: -16px;
      margin-left: -16px;
    }

    .s1-block-container {
      width: 50%;
      padding: 0px 16px;
    }

    .s1-block-container.is-total-trades-block-container {
      display: none;
    }

    .s2-info-container {
      margin-bottom: 30px;
    }

    .h2 {
      font-size: 52px;
    }

    .h2.is-small-h2.is-s4-h2 {
      width: 100%;
    }

    .h2.is-vc-h2 {
      margin-bottom: 50px;
    }

    .s2-blocks-container {
      padding-top: 75px;
    }

    .s2-block {
      width: 50%;
      padding-bottom: 60px;
    }

    .s6-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .s6-info-container {
      width: 100%;
      margin-bottom: 50px;
      padding-right: 0px;
    }

    .s3-image-wrapper {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0px;
    }

    .s3-info-container {
      width: 100%;
      margin-bottom: 50px;
      padding-left: 0px;
    }

    .s3-list-container {
      margin-right: -18px;
      margin-left: -18px;
    }

    .s3-list-item {
      padding: 18px;
    }

    .s3-icon {
      height: 44px;
    }

    .s3-item-description {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    .s3-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }

    .s4-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .s4-info-container {
      width: 100%;
      margin-bottom: 50px;
      padding-right: 0px;
    }

    .s4-image-wrapper {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0px;
    }

    .s5-image-wrapper {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0px;
    }

    .s5-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }

    .s5-info-container {
      width: 100%;
      margin-bottom: 44px;
      padding-left: 0px;
    }

    .s6-image-wrapper {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0px;
    }

  }

  @media screen and (max-width: 767px) {

    .s1 {
      padding-bottom: 50px;
    }

    .s1-container {
      margin-right: 0px;
      margin-left: 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .s1-block-container {
      width: 100%;
      margin-bottom: 30px;
      padding-right: 0px;
      padding-left: 0px;
    }

    .h2 {
      margin-bottom: 15px;
      font-size: 40px;
    }

    .h2.is-small-h2 {
      font-size: 40px;
    }

    .s2-blocks-container {
      margin-right: -10px;
      margin-left: -10px;
    }

    .s2-block {
      padding-right: 10px;
      padding-left: 10px;
    }

    .s6 {
      padding-bottom: 50px;
    }

    .s3 {
      padding-bottom: 50px;
    }

    .s4 {
      padding-bottom: 50px;
    }

    .s5 {
      padding-bottom: 50px;
    }

  }

  @media screen and (max-width: 479px) {

    .filled-button.is-filled-hero-button {
      width: 200px;
      margin-right: 0px;
      margin-bottom: 20px;
    }

    .outlined-button {
      width: 100%;
      box-shadow: inset 0 0 0 2px var(--primary-green-100);
      color: var(--neutral-white-100);
    }

    .s1-numbers {
      font-size: 34px;
    }

    .h2.is-vc-h2 {
      margin-bottom: 30px;
      font-size: 26px;
      text-align: center;
    }

    .s2-blocks-container {
      margin-right: 0px;
      margin-left: 0px;
    }

    .s2-block {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
    }

    .s2-h3 {
      height: 95px;
    }

    .s3-image-wrapper {
      width: 100%;
    }

    .s3-list-container {
      margin-right: 0px;
      margin-left: 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .s3-list-item {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
    }

    .s3-icon {
      height: 32px;
      margin-right: 18px;
    }

    .s7 {
      margin-bottom: 50px;
      padding-bottom: 25px;
    }

    .s4-image-wrapper {
      width: 100%;
    }

    .s5-image-wrapper {
      width: 100%;
    }

    .s6-image-wrapper {
      width: 100%;
    }

  }


  .about-images{
    width: 190px;
    margin: 0 auto;
    padding: 20px;
  }
  

  .border-mission{
    background: #FFFFFF;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width:75%;
    margin: 0 auto;
  }

  
  .border-mission1{
    background: #FFFFFF;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width:90%;
    margin: 0 auto;
  }


  .module-border-wrap {

    background: radial-gradient(circle at 100% 100%, #0c0c0c 0, #0c0c0c 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #0c0c0c 0, #0c0c0c 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #0c0c0c 0, #0c0c0c 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #0c0c0c 0, #0c0c0c 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#0c0c0c, #0c0c0c) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
    linear-gradient(#0c0c0c, #0c0c0c) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
    linear-gradient(68deg, #0c0c0c 4%, #fff 43%, #fff 58%, #0c0c0c 99%);
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;

    
  }
  
  .module-border-wrap1 {

    background: radial-gradient(circle at 100% 100%, #0c0c0c 0, #0c0c0c 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #0c0c0c 0, #0c0c0c 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #0c0c0c 0, #0c0c0c 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #0c0c0c 0, #0c0c0c 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#0c0c0c, #0c0c0c) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
    linear-gradient(#0c0c0c, #0c0c0c) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
    linear-gradient(68deg, #0c0c0c 4%, #fff 43%, #fff 58%, #0c0c0c 99%);
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    height: 470px;
    
  }
  