:root{
  --margin-around: 60px;
  --margin-between: 20px;
  --header-height: 80px;
  --border-items: 2rem;
}
*{
  

}

header.conteiner{
  position: fixed;
  height: var(--header-height);
  width: calc(100% - var(--margin-around)*2);
  margin: 0 var(--margin-around);
  display: flex;
  align-items: center;
}
header .logo{
  height: 100px;
  width: 300px;
}
main.conteiner{
  height: calc(100vh - var(--header-height)*1.5);
  width: calc(100% - var(--margin-around)*2);
  margin: auto;
  margin-top: var(--margin-between);
  padding-top: var(--header-height);
}
h1.title {
  display: grid;
  place-content: center;
  font-size: 3.5em;
  text-align: center;
  color: white;
}
div.title-conteiner{
  display: grid;
  place-items: center;
  width: 350px;
}
h1.title.services {
  width: 30%;
}
h2.sub-title{
  margin: var(--margin-between) 0;
}
p.param {
  margin: var(--margin-between) 0;
}
div.list-block{
  margin: 0;
  background-color: rgba(255, 255, 255, 0.108);
  list-style: none;
}
li.list-item{
}

li.list-item::before{
  content: "●";
  font-size: 1rem;
  position: relative;
  top: -2px;
  padding-right: 5px;
  color: aqua;
}
div.scroll-bar-conteiner{
  height: 100%;
  width: 2px;
  background-color: #fff;
  border-radius: 2rem;

  margin: 0 var(--margin-between);
}
div.scroll-bar-conteiner .slider{
  position: relative;
  height: 10px;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
  border-radius: 50%;
  margin: auto;
  
}
div.scroll-bar-conteiner .rute{
  width: 100%;
  border-radius: 2rem;
  background-color: aqua;
  box-shadow: 0px 0px 5px 1px rgba(0, 255, 255, 0.25);
  animation: neon 2s ease-in-out infinite alternate;
}


article.conteiner{
  display: flex;
  height: 90%;
  width: 100%;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
article.conteiner .card{
  max-width: 350px;
  min-width: 150px;
  height: fit-content;
  margin: 0 20px;
  text-align: center;
  background-color: #D9D9D9;
  color: #000;
}
article.conteiner .card:hover{
  transition:  1s;
  box-shadow: 0px 0px 20px 2px white;
  transform: scale(1.1);
}
article.conteiner .media{
  height: 80%;
  width: 28%;
}
article.conteiner .media img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: var(--border-items);
}
section.content{
  height: 80%;
  width: 65%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.services.content{
  color: white;
  overflow: auto;
}
section.services.content::-webkit-scrollbar{
  display: none;
}
section.training.content{
  overflow: auto;
}

section.training.content::-webkit-scrollbar{
  display: none;
}
section.training.content, .training h1{
  display: block;
  margin: 0;
  text-align: left;
  color: white;
}
section.content #carousel{
  height: 100%;
  width: 100%;
}
section.content .control-panel{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
section.content .control-panel .item-panel{
  height: 40px;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
div.carousel-content{
  display: inline-block;
  box-sizing: border-box;
  margin: var(--margin-between) 0 0 0 ;
  color: black;
}
div .carousel-indicators{
  height: 3px;
  width: 160px;
  background-color: rgb(201, 201, 201);
}
div.carousel-inner *{
  color: white;
}
button.carousel-control-prev,
button.carousel-control-next{
  width: 4rem;
}
div.carousel-indicators,
button.carousel-control-prev,
button.carousel-control-next{
  position: unset;
  margin: 0;
}
.card img{
  margin: 20px;
  aspect-ratio: 1/1;
  margin-bottom: 0;
  height: 180px;
  border-radius: inherit;
  object-fit: cover;
  width: auto;
}





body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(4, 15, 34) 3%, rgb(25, 34, 43) 38%, rgb(37, 26, 38) 68%, #181d32 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

@keyframes neon {
  100%{ filter: drop-shadow(0px 0px 5px aqua) }
}