:root {
  --margin-between: 60px;
  --margin-next: 60px;
  --margin-evently: 20px;
}
* {
  font-family: proximanova-semibold, sans-serif;
}
header.nav-bar {
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - var(--margin-between) * 2);
  background-color: black;
}
.nav-bar .logo {
}
.nav-bar .logo:hover {
  background-color: rgba(245, 245, 245, 0.1);
  border-radius: 2em;
}
body.principal {
  background: black;
  margin: var(--margin-between);
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}
body.child {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
main.conteiner {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
article.conteiner {
  width: 50%;
  padding: 0 10px;
}
aside.conteiner {
  width: 40%;
  height: 250px;
}

iframe {
  width: 100%;
  height: 100%;
}
.reveal {
  animation: reveal linear 1s;
}
.child * {
  color: white;
  text-align: left;
}
.child .title {
  font-size: 1.8rem;
  padding-bottom: 30px;
  padding-top: 20px;
}
section.content * {
  margin: 0;
}
section.content {
  padding-bottom: 20px;
}
section.content .sub-title {
  margin-bottom: 10px;
}
.content .sub-title {
  font-size: 1.1rem;
}
.content .list {
  padding: 0;
  margin: 20px 0;
}
.content .list-item {
  list-style: none;
  padding-left: 10px;
}
.content .list-item::before {
  content: "";
  position: absolute;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: aqua;
  margin-right: 2px;
  margin-top: 5px;
}
section .paragraph {
  font-size: 1.1rem;
}
.child .paragraph {
}

.pop-conteiner {
  display: grid;
  position: fixed;
  place-items: center;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
  margin-right: var(--margin-between);
}

.pop-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: aliceblue;
  background-image: url(https://img.icons8.com/nolan/64/block-chain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.pop-center-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 320px;
  border: solid rgb(0, 183, 255);
  border-radius: 50%;
  cursor: pointer;
}

.pop-menu {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  /* animation: rotate linear infinite 15s;*/
}

.pop-item {
  position: absolute;
  display: grid;
  place-items: center;
  list-style: none;
  left: 0;
  background-color: white;
  box-shadow: 0px 0px 15px 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  transform-origin: 200px;
  transform: rotate(calc(360deg / 6 * var(--i)));
}

.pop-item:hover ::before {
  position: absolute;
  background: linear-gradient(to right, rgb(197, 0, 197), cyan);
  z-index: -999;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  content: "";
  animation: rotateCorner linear 5s infinite;
  transform: translate(-50%, -50%) rotate(calc(360deg / -6 * var(--i)));
}
.pop-item {
  transition: 0.5s;
}
.pop-menu:hover > :not(.pop-item:hover) {
  opacity: 0.1;
}
.pop-item:hover ::after {
  background-color: aqua;
  position: absolute;
  background-color: white;
  z-index: -1;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%) rotate(calc(360deg / -6 * var(--i)));
}

.pop-item div {
  text-decoration: none;
  pointer-events: all;
  display: flex;
  position: relative;
  transform: rotate(calc(360deg / -6 * var(--i)));
}
.pop-item div img {
  aspect-ratio: 1/1;
  width: 40px;
  pointer-events: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateCorner {
  from {
    filter: hue-rotate(0deg) blur(5px);
  }
  to {
    filter: hue-rotate(360deg) blur(5px);
  }
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
